.Rproj.user
.Rhistory
.RData
.Ruserdata
WTF-Climate-Flux.Rproj
*.DS_Store
weather_flux/data/wood_respiration/**
!weather_flux/data/wood_respiration/.gitkeep
weather_flux/data/processed/wood_respiration/CO2_IRGA_raw.pdf
weather_flux/data/processed/wood_respiration/CH4_IRGA_raw.pdf
weather_flux/data/processed/wood_respiration/CO2_IRGA_clean.pdf
weather_flux/data/processed/wood_respiration/CH4_IRGA_clean.pdf
weather_flux/data/processed/wood_respiration/pine_CH4_clean.csv
weather_flux/data/processed/wood_respiration/pine_CH4_IRGA.pdf
weather_flux/data/processed/wood_respiration/native_CH4_clean.csv
weather_flux/data/processed/wood_respiration/native_CH4_IRGA.pdf
weather_flux/data/processed/svf_pics/**
!weather_flux/data/processed/svf_pics/svf_pine.csv
bayesian_model/pred.2_2000.txt
FMC_mechanistic_model/fuel_moisture_output.txt
